@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Planetsino</h2>
        <p>A sample app using Azure Cosmos DB</p>
        <p>
            <img src="~/Images/gambling-2001033_640.jpg" class="img-responsive"/>
        </p>
        <p><a class="btn btn-success" href="/Home/Account">Create new account</a></p>
    </div>
</div>